#card_list {
	list-style-type: none;
}

#sidebar_button {
	border: 1px dotted grey;
	padding: 1px 6px;
	border-radius: 3px;
}
#sidebar_button:hover {
	background-color: dimgrey;
	color: white;
}
#sidebar_button:active {
	background-color: royalblue;
	color: white;
}

#photo_preview {
	border: 1px dotted grey;
	border-radius: 6px;
	max-height: 300px;
	max-width: 300px;
}

INPUT,
TEXTAREA
{
	width: 99%;
}